[submodule "appwin/npm-modules/prism-rn"]
	path = appwin/npm-modules/prism-rn
	url = git@github.com:nocanstillbb/prism-rn.git
[submodule "appwin/npm-modules/prism"]
	path = appwin/npm-modules/prism
	url = git@github.com:cpp-prism/prism.git
[submodule "appmac/npm-modules/prism"]
	path = appmac/npm-modules/prism
	url = git@github.com:cpp-prism/prism.git
[submodule "appmac/npm-modules/prism-rn"]
	path = appmac/npm-modules/prism-rn
	url = git@github.com:nocanstillbb/prism-rn.git
[submodule "appmobile/npm-modules/prism-rn"]
	path = appmobile/npm-modules/prism-rn
	url = git@github.com:nocanstillbb/prism-rn.git
[submodule "appmobile/npm-modules/prism"]
	path = appmobile/npm-modules/prism
	url = git@github.com:cpp-prism/prism.git
